
node_modules/*
.eslintrc.js
config/TwitchClient.json
config/TwitterClient.json
object examples/*
config/DeepAi.json
data/*
!data/global/
!data/default/
data/global/myiq.json
config/OxfordDictionaries.json
