
node_modules/*
config/TwitchClient.json
config/TwitterClient.json
config/DeepAi.json
object examples/*
data/*
!data/global/
!data/default/
data/global/myiq.json
config/OxfordDictionaries.json
.vscode
*test.js
