
node_modules/*

config/TwitchClient.json
config/TwitterClient.json
config/DeepAi.json
config/OxfordDictionaries.json
config/CognitiveServices.json
config/steamApi.json

data/*
!data/global/
!data/default/
data/global/myiq.json
data/global/artifact/*

misc/object examples/*
misc/Twitch-Chat-Downloader-master/*

.vscode
*test.*